/* styles.css */
body {
    background-color: #89ABE3;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    ;
}

header {
    text-align: center;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.grid-item {
    background-color: #EA738D;
    color: black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;

    }
}


@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}